In [29]:
import pandas as pd

master_df = pd.read_csv('/Users/alexandergursky/Local_Repository/Datasets/Dataset_Package/Spotify_Users/spotify_dataset.csv',on_bad_lines='skip')

In [30]:
print(master_df.columns)

Index(['user_id', ' "artistname"', ' "trackname"', ' "playlistname"'], dtype='object')

In [31]:
df = master_df.drop(' "playlistname"', axis=1)

In [32]:
df = df.rename(columns={' "artistname"':'artistname',' "trackname"': 'trackname'})

In [33]:
print(df.columns)

Index(['user_id', 'artistname', 'trackname'], dtype='object')

In [34]:
print(df['user_id'].nunique())
print(df['user_id'].isna().sum())

15918
0

In [35]:
print(df.head(10))

                            user_id                        artistname  \
0  9cc0cfd4d7d7885102480dd99e7a90d6                    Elvis Costello
1  9cc0cfd4d7d7885102480dd99e7a90d6  Elvis Costello & The Attractions
2  9cc0cfd4d7d7885102480dd99e7a90d6                      Tiffany Page
3  9cc0cfd4d7d7885102480dd99e7a90d6  Elvis Costello & The Attractions
4  9cc0cfd4d7d7885102480dd99e7a90d6                    Elvis Costello
5  9cc0cfd4d7d7885102480dd99e7a90d6                            Lissie
6  9cc0cfd4d7d7885102480dd99e7a90d6                    Paul McCartney
7  9cc0cfd4d7d7885102480dd99e7a90d6                          Joe Echo
8  9cc0cfd4d7d7885102480dd99e7a90d6                    Paul McCartney
9  9cc0cfd4d7d7885102480dd99e7a90d6                            Lissie

                                           trackname
0               (The Angels Wanna Wear My) Red Shoes
1  (What's So Funny 'Bout) Peace, Love And Unders...
2                                   7 Years Too Late
3                              Accidents Will Happen
4                                             Alison
5                                        All Be Okay
6                                    Band On The Run
7                                          Beautiful
8  Blackbird - Live at CitiField, NYC - Digital A...
9                                        Bright Side

In [36]:
print(df.loc[(df['user_id']== '9cc0cfd4d7d7885102480dd99e7a90d6') & (df['trackname'] == 'Band On The Run')])

                            user_id      artistname        trackname
6  9cc0cfd4d7d7885102480dd99e7a90d6  Paul McCartney  Band On The Run

In [37]:
#new_df = df.pivot_table(index='artistname', columns='user', values='trackname', aggfunc='count', fill_value=0)

df['user'], _ = pd.factorize(df['user_id'])

In [38]:
print(df.iloc[9999999])

user_id       15a630d2538221cc201e52b9a0976049
artistname                     Christian Scott
trackname              Fatima Aisha Rokero 400
user                                     12402
Name: 9999999, dtype: object

In [39]:
df = df.drop('user_id', axis=1)

In [40]:
print(df.columns)

Index(['artistname', 'trackname', 'user'], dtype='object')

In [41]:
print(df.head())

                         artistname  \
0                    Elvis Costello
1  Elvis Costello & The Attractions
2                      Tiffany Page
3  Elvis Costello & The Attractions
4                    Elvis Costello

                                           trackname  user
0               (The Angels Wanna Wear My) Red Shoes     0
1  (What's So Funny 'Bout) Peace, Love And Unders...     0
2                                   7 Years Too Late     0
3                              Accidents Will Happen     0
4                                             Alison     0

In [42]:
#new_df = df.pivot_table(index='artistname', columns='user', values='trackname', aggfunc='count', fill_value=0)

# groupby username and artist, then count the number of occurrences of artist
artist_count = df.groupby(['user', 'artistname']).size().reset_index(name='artist-value')

# merge artist_count with original dataframe
df = pd.merge(df, artist_count, on=['user', 'artistname'], how='left')

In [43]:
print(df.head(10))

                         artistname  \
0                    Elvis Costello
1  Elvis Costello & The Attractions
2                      Tiffany Page
3  Elvis Costello & The Attractions
4                    Elvis Costello
5                            Lissie
6                    Paul McCartney
7                          Joe Echo
8                    Paul McCartney
9                            Lissie

                                           trackname  user  artist-value
0               (The Angels Wanna Wear My) Red Shoes     0           3.0
1  (What's So Funny 'Bout) Peace, Love And Unders...     0           3.0
2                                   7 Years Too Late     0           4.0
3                              Accidents Will Happen     0           3.0
4                                             Alison     0           3.0
5                                        All Be Okay     0           8.0
6                                    Band On The Run     0           4.0
7                                          Beautiful     0          11.0
8  Blackbird - Live at CitiField, NYC - Digital A...     0           4.0
9                                        Bright Side     0           8.0

In [44]:
df = df.drop('trackname', axis=1)

In [45]:
dupdrop_df = df.drop_duplicates(subset=['artistname', 'user'])

In [46]:
print(dupdrop_df.head(10))

                          artistname  user  artist-value
0                     Elvis Costello     0           3.0
1   Elvis Costello & The Attractions     0           3.0
2                       Tiffany Page     0           4.0
5                             Lissie     0           8.0
6                     Paul McCartney     0           4.0
7                           Joe Echo     0          11.0
10                      The Breakers     0           3.0
12                       The Coronas     0           2.0
13                     Crowded House     0           6.0
17                      Joshua Radin     0           5.0

In [47]:
dupdrop_df.to_csv('/Users/alexandergursky/Local_Repository/Datasets/Dataset_Package/Spotify_Users/artist-user-countlisten.csv')